/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: bisque;
  color : black;
}

h1 {
  font-family: verdana, arial, sans-serif;
  font-style: italic;
  color: #373fff;
}
button {
  padding : 10px;
  border-radius : 10px;
}

#gameButtonAreaEasy > button {
  width : 200px;
  height : 200px;
  margin : 2px;
}
#gameButtonAreaNormal > button {
  width : 200px;
  height : 200px;
  margin : 2px;
}

#gameButtonAreaHard > button {
  width : 200px;
  height : 200px;
  margin : 2px;
}

.hidden {
  display : none;
}


  #easyButton1 {
  background : lightgreen;
}
  #easyButton2 {
  background : lightblue;
}
  #easyButton3 {
  background : pink;
}
  #easyButton1:active, #easyButton1.lit {
  background : green;
}
  #easyButton2:active, #easyButton2.lit  {
  background : blue;
}
  #easyButton3:active, #easyButton3.lit  {
  background : red;
}
  


  #normalButton1 {
  background : lightgreen;
}
  #normalButton2 {
  background : lightblue;
}
  #normalButton3 {
  background : pink;
}
  #normalButton1:active, #normalButton1.lit {
  background : green;
}
  #normalButton2:active, #normalButton2.lit  {
  background : blue;
}
  #normalButton3:active, #normalButton3.lit  {
  background : red;
}
   #normalButton4 {
  background : orange;
}
  #normalButton4:active, #normalButton4.lit  {
  background : coral;
    }
  

  #hardButton1 {
  background : lightgreen;
}
  #hardButton2 {
  background : lightblue;
}
  #hardButton3 {
  background : pink;
}
  #hardButton1:active, #hardButton1.lit {
  background : green;
}
  #hardButton2:active, #hardButton2.lit  {
  background : blue;
}
  #hardButton3:active, #hardButton3.lit  {
  background : red;
}
  #hardButton4 {
  background : orange;
}
  #hardButton4:active, #hardButton4.lit  {
  background : coral;
    }
  #hardButton5 {
  background: rgb(70, 200, 220);
}
  #hardButton5:active, #hardButton5.lit  {
  background : rgb(50, 115, 220);
}
  #hardButton6 {
  background : rgb(120, 120, 420);
}
  #hardButton6:active, #hardButton6.lit  {
  background : rgb(75, 80, 220); 
}
  
